# untracked
SovietAfghan/Patrol.uzbin/mission.sqm
SovietAfghan/Patrol.uzbin/mission.sqm
SovietAfghan/~heli_supply_dev.lythium/mission.sqm
SovietAfghan/Patrol.uzbin/mission.sqm
SovietAfghan/Co12_Rnd_Patrol(USSR).lythium/mission.sqm
SovietAfghan/Ablage
Germany/Ablage
Germany/Save_the_Hill.WL_Rosche
Germany/Advance_and_secure.WL_Rosche
Germany/Taunus.xcam_taunus
Germany/Co06_with_haste(US).cwR3_eilte
# Germany/Sneaky_breaky.WL_Rosche
Germany/try.WL_Rosche
Americas/01_Jail.Gulfcoast
Americas/00_CampaignTemplate.Gulfcoast