# untracked
SovietAfghan/Patrol.uzbin/mission.sqm
SovietAfghan/Patrol.uzbin/mission.sqm
SovietAfghan/~heli_supply_dev.lythium/mission.sqm
SovietAfghan/Patrol.uzbin/mission.sqm
SovietAfghan/Co12_Rnd_Patrol(USSR).lythium/mission.sqm
SovietAfghan/Ablage
Germany/Ablage
Germany/Save_the_Hill.WL_Rosche
# Germany/Sneaky_breaky.WL_Rosche
Germany/try.WL_Rosche