# untracked
SovietAfghan/Patrol.uzbin/mission.sqm
SovietAfghan/Patrol.uzbin/mission.sqm
SovietAfghan/~heli_supply_dev.lythium/mission.sqm
SovietAfghan/Patrol.uzbin/mission.sqm
SovietAfghan/Co12_Rnd_Patrol(USSR).lythium/mission.sqm
